<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Tasklipse"
            id="com.rambler.tasklipse">
      </category>
      <view
            name="Tasklipse"
            icon="icons/tasks.png"
            category="com.rambler.tasklipse"
            class="com.rambler.tasklipse.views.TasklipseView"
            id="com.rambler.tasklipse.views.TasklipseView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.rambler.tasklipse.views.TasklipseView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.rambler.tasklipse.views.TasklipseView"
            labelProvider="com.rambler.tasklipse.provider.PropertyLabelProvider">
         <propertyCategory
               category="default"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.rambler.tasklipse.views.TasklipseView">
         <propertyTab
               category="default"
               id="com.rambler.tasklipse.property.tab.todos"
               label="TODOs">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections 
            contributorId="com.rambler.tasklipse.property.tab.todos">
         <propertySection
               class="com.rambler.tasklipse.properties.TodoPropertySection"
               id="com.rambler.tasklipse.property.section.todo"
               tab="com.rambler.tasklipse.property.tab.todos">
         </propertySection>
      </propertySections>
   </extension>
	
</plugin>
